.vs
Archive
GameData/**/*.dll
GameData/**/LICENSE*
GameData/**/NOTICE
GameData/**/README.md
GameData/**/CHANGE_LOG.md
GameData/**/KNOWN_ISSUES.md
GameData/**/*.version
src/**/Properties/Version.cs
src/**/Properties/Configuration.cs
src/*/*.user
bin
obj
packages
